.card-bg {
  height: 2000px;
  margin-top: 400px;
  margin-bottom: 1100px;
}

.card-box img {
  display: block;
  margin: auto;
  max-width: 60%;
  border-radius: 12px;
  overflow: hidden;
}

.card-box {
  position: sticky;
  top: 200px;
  margin-top: 100px;
}
