@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

div {
  font-size: 18px;
  /*border-radius: 15px;*/
  /*border-radius: 10px 0 5px 0; *10px 0>>왼쪽이랑 오른쪽 아래만 적용*/
  border-radius: 50%;
  /* margin-top: 100px;
  margin-left: 40px;
  margin-right: 100px;
  margin-bottom: 20px;
  padding: 20px; */

  aspect-ratio: 6/2;
}

.OKLCH-color1 {
  text-align: center;
  background-color: oklch(90% 0.1 240);
}

.OKLCH-color2 {
  text-align: left;
  background-color: oklch(70% 0.25 140);
}

.OKLCH-color3 {
  text-align: right;
  background-color: oklch(40% 0.15 320);
}

.nomal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.weight {
  font-weight: bold;
}

.size {
  font-size: 20px;
}

.font {
  font-family: 'Black Han Sans', sans-serif;
  /* font-family: 'BBH Sans Hegarty', sans-serif;
  font-weight: 400;
  font-style: normal; */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }

  h1 {
    color: #90caf0;
  }
}

body {
  background-color: light-dark(lightgray, #121212);
  color: light-dark(white, black);
}
h1 {
  color: light-dark(darkblue, #90caf0);
}

/* 가로 800 이하면 색 바뀜ㄱ */
@media (max-width: 800px) {
  body {
    background-color: rgb(204, 54, 57);
  }

  h1 {
    font-size: 24;
    color: darkblue;
  }
}
