*::before *::after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 10px;
}

.top {
  position: sticky;
  top: 10px;
  left: 5px;
}

.down {
  position: sticky;
  bottom: 10px;
  right: 5px;
  text-align: end;
}

.menu {
  font-size: 12px;
  color: blue;
}

.box {
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  background-color: lightsteelblue;
}

.box:hover:not(:disabled) {
  background-color: midnightblue;
  color: white;
}

p {
  font-size: 15px;
}

.mid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 20px 0 20px;
  justify-content: space-between;
}
